hr {
	border-top: 4px solid #8c8b8b;
}
body{
	background: rgb(200, 200, 195);
	font-family: sans-serif;
	
}
header {
	height: 300px;
	padding-top: 10px;
}

p {
	color: blue;
	font-weight: bold;
}

.margin {
  margin-top: 10px;
}

.align {
  text-align: center;
  padding-left: 40px;
}

.profile {
		box-sizing: border-box;
		border-style: groove;
		height: 70%;
		width: 70%;
		border-radius: 110px;
		border-color: green;
		text-align: center;
		vertical-align: middle;

}

.profile img{
	height: 100%;
	width: 100%;
	border-radius: 110px;
	text-align: center;
	vertical-align: middle;
}

@media only screen and (max-width: 500px){
	img {
		max-width: 50%;
		max-height: 50%;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 501px) {
	img {
		max-width: 70%;
		max-height: 70%;
	}
}

.img2 {
	height: auto;
	width: 100%;
}
